Magic 271485
Revision Verdi_O-2018.09

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 1536 45 1344 777 141 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/DICS_LAB/M10912039/CIC/CIC_2009_grad/sim/nfc.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 1561952.053337 1748047.946663
cursor 1655000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 25

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


aliasmapname NFC.cs
nalias RST		4'b0000		NULL
nalias IDLE		4'b0001		NULL
nalias READ_F		4'b0100		NULL
nalias WAIT_CMD		4'b1010		NULL
nalias WRITE_F		4'b0101		NULL
nalias RST_F		4'b1011		NULL
nalias READ_B		4'b1000		NULL
nalias READ_M		4'b0010		NULL
nalias CHECK_F		4'b1001		NULL
nalias WRITE_M		4'b0011		NULL
nalias ERASE		4'b0110		NULL
nalias DONE		4'b0111		NULL

aliasmapname NFC.cs_f
nalias F_IDLE		4'b0000		NULL
nalias F_CMD		4'b0001		NULL
nalias F_DATA_W		4'b0100		NULL
nalias F_CMD_01		4'b1010		NULL
nalias F_WAIT		4'b0101		NULL
nalias F_CMD_80		4'b1011		NULL
nalias F_ADDR_1		4'b1000		NULL
nalias F_DONE		4'b0110		NULL
nalias F_ADDR_2		4'b1001		NULL
nalias F_DATA_R		4'b0011		NULL
nalias F_CMD_10		4'b1100		NULL
nalias F_ADDR_0		4'b0111		NULL
nalias F_ADDR_0		4'b1101		NULL

addGroup "G1"
activeDirFile "" "/home/DICS_LAB/M10912039/CIC/CIC_2009_grad/sim/nfc.fsdb"
addSignal -h 15 /test/top/clk
addSignal -h 15 -holdScope rst
addSignal -h 15 -holdScope done
addSignal -h 15 -holdScope cmd[32:0]
aliasname NFC.cs
addSignal -h 15 -UNSIGNED -HEX -holdScope cs[3:0]
aliasname NFC.cs
addSignal -h 15 -UNSIGNED -HEX -holdScope ns[3:0]
aliasname NFC.cs_f
addSignal -h 15 -UNSIGNED -HEX -holdScope cs_f[3:0]
aliasname NFC.cs_f
addSignal -h 15 -UNSIGNED -HEX -holdScope ns_f[3:0]
addSignal -h 15 -holdScope M_RW
addSignal -h 15 -holdScope M_A[6:0]
addSignal -h 15 -holdScope M_D[7:0]
addSignal -h 15 -holdScope M_IN[7:0]
addSignal -h 15 -holdScope M_OUT[7:0]
addSignal -h 15 -holdScope len_counter[6:0]
addSignal -h 15 -holdScope CMD_F_ADDR[17:0]
addSignal -h 15 -holdScope CMD_LEN[6:0]
addSignal -h 15 -holdScope CMD_M_ADDR[6:0]
addSignal -h 15 -holdScope CMD_RW
addSignal -h 15 -holdScope F_ALE
addSignal -h 15 -holdScope F_CLE
addSignal -h 15 -holdScope F_EN
addSignal -h 15 -holdScope F_IO[7:0]
addSignal -h 15 -holdScope F_RB
addSignal -h 15 -holdScope F_REN
addSignal -h 15 -holdScope F_WEN
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/DICS_LAB/M10912039/CIC/CIC_2009_grad/sim/nfc.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/test"
"/test/top"

SCOPE_LIST_BEGIN
"/test"
"/test/top"
"/test/m1"
"/test/f1"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


